
.title-block{
  display:flex;
  align-items: center;
  max-width: 1180px;
  justify-content: space-between;
  margin:0 auto;
  
}
.title{
  display: inline;
  justify-content: center;
  align-items: center;
  margin-left:400px;
}
.logo-image {
  object-fit: cover;
  
  /* flex-wrap:wrap; */
  float:right;
  width: 264px;
  height: 60px;
  /* background-color: #777;  */
}
.page-layout{
    /* margin: 30px; */
    max-width: 100%;
    max-height:100%;
    display: inline-block;
    flex-wrap:wrap;
    background-color: rgb(238, 234, 234);
    /* background-color: rgb(194, 86, 104); */
}
/* .pane1{
  width:200px;
} */
/* 
.pane2{
  float:right;
  height:100vh;
  width:300px;

} */
.content1{
    display: flex;
    justify-content: space-around;
    width:1200px;

}
.content2{
    display:inline-block;
    width:1200px;
    flex-wrap: wrap;
    padding: 3px 0 0 0 ;

}
.graph-content{
    display: inline-block;
    width:820px;
    margin:3.2px 0 0 0;


    /* float:left; */

}
.content3{
    display: flex;
    justify-content: space-around;
    margin-top:3px;
}
.content4{
  display: flex;
  justify-content: space-around;

}
.square1,.square2,.square3,.square4,.square5{
    width:380px;
    height: 220px;
    background-color: #777;
    margin-top: 20px;
}
.api-data{
  width:380px;
  /* margin:2px 5px 2px 5px; */
  float: right;
  height: 200px;
  justify-items: center;
  align-items: center;
  margin: 0 0 0 ;
}
.subheading{
  width:100wh;
  background-color: rgb(131, 14, 40);
  color: white;
  cursor: pointer;
  padding: 18px;
  /* width: 400px; */
  height: 100px;
  border: none;
  margin:2px 2px 0px 2px;
  text-align: right;
  outline: none;
  font-size: 15px;
}
.b1{
  width:100%;
  background-color: rgb(131, 14, 40);
  color: white;
  cursor: pointer;
  padding: 18px;
  /* width: 400px; */
  height: 64px;
  border: none;
  margin:2px;
  text-align: right;
  outline: none;
  font-size: 15px;
  

}


.collapsible1{
    background-color: rgb(131, 14, 40);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 400px;
    height: 100px;
    border: none;
    margin:2px;
    text-align: right;
    outline: none;
    font-size: 15px;
  }
  p{
    padding: 3px;
  }
  
.collapsible2{
    background-color: rgb(14, 132, 201);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 400px;
    height: 100px;
    border: none;
    text-align: right;
    outline: none;
    font-size: 15px;
    /* align-items:flex-start; */
    margin:2px;
  }
  
.collapsible3{
    background-color: rgb(231, 110, 28);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 400px;
    height: 100px;
    border: none;
    text-align: right;
    outline: none;
    font-size: 15px;
    margin:2px;
  }
  
.collapsible4{
    background-color: rgb(77, 7, 124);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 300px;
    height: 100px;
    border: none;
    text-align: right;
    outline: none;
    font-size: 15px;
  }
  /* .collapsible1:hover {
    background-color: #555;
  } */
  
  
  .display-data {
    width: 400px;
    /* height: 200px; */
    /* display: none; */
    /* overflow: hidden; */
    background-color: #fcfcfc;
    position: absolute;
    height: 200px;
    z-index: 99;
    color:black;
  }
  .expand-data{
    position: absolute;
    z-index: 99;
    background-color: #fcfcfc;width:100%


  }
  /* .box1{
    background-color: #8d125a;
    /* color: white; */
    /* cursor: pointer;
    padding: 18px;
    width: 300px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
     */


  /* }  */
  [hidden] {
    display: none !important;
  }
  .overlay {
    z-index: 9;
    margin: 30px;
    background: #009938;
  }
  
#customers td, #customers th {
    border: 1px solid #ddd;
    
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
   
    text-align: left;
    background-color: #04AA6D;
    color: rgb(8, 7, 7);
  }
  * {
    box-sizing: border-box;
    
        font-family: Arial, Helvetica, sans-serif;
      
  }
  
  
  
  ul.list-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #fdf9f9;
  }
  
  
  
  ul.list-group li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #fdf9f9;
    color:black;
    /* padding: 12px; */
  }
  
  
  
  ul.list-group .badge {
    /* background-color: #c56868; */
    background-color: #fdf9f9;
    /* font-weight: bold; */
    border-radius: 0%;
    /* padding: 5px 10px; */
    text-align: center;
    /* margin-left: 5px; */
    float:right;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  .highcharts-figure .chart-container {
    width: 200px;
    height: 200px;
    margin: -2px 2px 2px 2px;
    float: left;
  }
  
  .highcharts-figure,
  .highcharts-data-table table {
    /* width: 600px; */
    margin: 0 0;
    width:100wh;
  }
  
  .highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
  }
  
  .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }
  
  .highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
  }
  
  .highcharts-data-table td,
  .highcharts-data-table th,
  .highcharts-data-table caption {
    padding: 0.5em;
  }
  
  .highcharts-data-table thead tr,
  .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
  }
  
  .highcharts-data-table tr:hover {
    background: #f1f7ff;
  }
  
  @media (max-width: 600px) {
    .highcharts-figure,
    .highcharts-data-table table {
      /* width: 100%; */
      width:100wh;
    }
  
    .highcharts-figure .chart-container {
      width: 200px;
      float: left;
      margin: -2px 2px 2px 2px;
    }
  }
  .highcharts-figure .chart-container {
    width: 200px;
    height: 200px;
    float: left;
  }
  
  .highcharts-figure,
  .highcharts-data-table table {
    /* width: 600px; */
    margin: 0 0;
    width:100wh;
  }
  
  .highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
  }
  
  .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }
  
  .highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
  }
  
  .highcharts-data-table td,
  .highcharts-data-table th,
  .highcharts-data-table caption {
    padding: 0.5em;
  }
  
  .highcharts-data-table thead tr,
  .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
  }
  
  .highcharts-data-table tr:hover {
    background: #f1f7ff;
  }
  
  @media (max-width: 1300px) {
    .highcharts-figure,
    .highcharts-data-table table {
      /* width: 100%; */
      width:100wh;
    }
  
    .highcharts-figure .chart-container {
      width: 200px;
      float: left;
      margin: 0 0;
    }
  }